<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Inventory" type="Ninja_Simulator.Configuration.InventorySection, Ninja_Simulator"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!-- Files containing the standard rotation and the higher skill speed rotation -->
    <add key="StandardRotation" value="ShadowfangRotation.txt"/>

    <!-- 
    Setting this to true means that the rotation files will loop. Setting this to
    false means that it won't loop and it will execute only once, stopping if it reaches
    the end before the encounter length has elapsed.
    -->
    <add key="LoopRotationInfinitely" value="false"/>
    <add key="HutonStartDuration" value="48"/>
    <add key="KissOfTheWaspActive" value="true"/>
    <add key="EncounterLengthSeconds" value="211"/>
    <add key="GlobalAnimationLockMs" value="775"/>

    <!-- Attributes and Offensive Stats for the regular simulation mode. Party bonus is
    not added to this STR value; it is used as-is. -->
    <add key="DEX" value="1099"/>
    <add key="CRT" value="878"/>
    <add key="DET" value="464"/>
    <add key="SKS" value="428"/>

    <!-- Weapon Stats for the regular simulation mode -->
    <add key="WD" value="76"/>
    <add key="AA" value="62.82"/>
    <add key="AA_DELAY" value="2.48"/>

    <!-- Base Stats - Used for BIS Solver. 
    
    Warning: The regular stats above should be set to the stats of an end-game set as the skill speed
    modifiers are in part derived from the base stats above. Therefore, not setting them to an endgame
    stat set can result in different results.
    
    The BIS solver will use the standard rotation for SKS values between 354 and 625.
    For values outside of that range, modifications will need to be made to the rotation file.

    -->
    <add key="BASE_DEX" value="288"/>
    <add key="BASE_ACC" value="354"/>
    <add key="BASE_CRT" value="354"/>
    <add key="BASE_DET" value="218"/>
    <add key="BASE_SKS" value="354"/>
    <add key="MIN_ACC" value="639"/>
    <add key="MIN_SKS" value="354"/>
    <add key="MAX_SKS" value="625"/>
  </appSettings>
  <Inventory>
    <MainHand>
      <item name="Kannagi" wd="76.00" aa="62.82" delay="2.48" dex="109" acc="0" crt="0" det="97" sks="71"/>
      <item name="Gordian Baselards" wd="76.00" aa="66.88" delay="2.64" dex="109" acc="0" crt="102" det="68" sks="0"/>
      <item name="Yukimitsu" wd="76.00" aa="62.82" delay="2.48" dex="109" acc="0" crt="71" det="0" sks="102"/>
      <item name="Daggers of the Heavens" wd="75.00" aa="66.00" delay="2.64" dex="105" acc="0" crt="68" det="93" sks="0"/>
    </MainHand>
    <Head>
      <item name="Gordian Hood of Scouting" dex="62" acc="0" crt="0" det="39" sks="58"/>
      <item name="Iga Zukin" dex="62" acc="58" crt="41" det="0" sks="0"/>
      <item name="Mistbreak Cap of Scouting" dex="62" acc="44" crt="31" det="17" sks="0"/>
    </Head>
    <Body>
      <item name="Gordian Corselet of Scouting" dex="101" acc="66" crt="94" det="0" sks="0"/>
      <item name="Iga Ningi" dex="101" acc="94" crt="0" det="0" sks="66"/>
    </Body>
    <Hands>
      <item name="Gordian Armguards of Scouting" dex="62" acc="0" crt="41" det="56" sks="0"/>
      <item name="Iga Tekko" dex="62" acc="41" crt="0" det="0" sks="58"/>
    </Hands>
    <Waist>
      <item name="Fabled Belt of Scouting" dex="47" acc="44" crt="30" det="0" sks="0"/>
      <item name="Gordian Belt of Scouting" dex="47" acc="0" crt="0" det="29" sks="44"/>
    </Waist>
    <Legs>
      <item name="Gordian Poleyns of Scouting" dex="101" acc="94" crt="0" det="0" sks="66"/>
      <item name="Iga Hakama" dex="101" acc="0" crt="94" det="63" sks="0"/>
    </Legs>
    <Feet>
      <item name="Gordian Sabatons of Scouting" dex="62" acc="41" crt="0" det="0" sks="58"/>
      <item name="Iga Kyahan" dex="62" acc="0" crt="41" det="56" sks="0"/>
    </Feet>
    <OffHand>
      <item name="N/A" dex="0" acc="0" crt="0" det="0" sks="0"/>
    </OffHand>
    <Neck>
      <item name="Fabled Necklace of Aiming" dex="47" acc="44" crt="0" det="0" sks="30"/>
      <item name="Gordian Neckband of Aiming" dex="47" acc="30" crt="0" det="42" sks="0"/>
    </Neck>
    <Ears>
      <item name="Fabled Earrings of Aiming" dex="47" acc="0" crt="44" det="0" sks="30"/>
      <item name="Gordian Earrings of Aiming" dex="47" acc="30" crt="0" det="0" sks="44"/>
      <item name="Earrings of the Lost Thief" dex="38" acc="23" crt="0" det="32" sks="0"/>
    </Ears>
    <Wrists>
      <item name="Fabled Bracelet of Aiming" dex="47" acc="30" crt="44" det="0" sks="0"/>
      <item name="Gordian Wristband of Aiming" dex="47" acc="0" crt="0" det="29" sks="44"/>
      <item name="Prototype Gordian Wristband of Aiming" dex="40" acc="0" crt="36" det="24" sks="0"/>
    </Wrists>
    <LeftRing>
      <item name="Fabled Ring of Aiming" dex="47" acc="0" crt="0" det="29" sks="44"/>
      <item name="Gordian Ring of Aiming" dex="47" acc="30" crt="44" det="0" sks="0"/>
      <item name="Prototype Gordian Ring of Aiming" dex="40" acc="25" crt="0" det="34" sks="0"/>
      <item name="Ring of the Lost Thief" dex="38" acc="0" crt="33" det="23" sks="0"/>
    </LeftRing>
    <RightRing>
      <item name="Fabled Ring of Aiming" dex="47" acc="0" crt="0" det="29" sks="44"/>
      <item name="Gordian Ring of Aiming" dex="47" acc="30" crt="44" det="0" sks="0"/>
      <item name="Prototype Gordian Ring of Aiming" dex="40" acc="25" crt="0" det="34" sks="0"/>
      <item name="Ring of the Lost Thief" dex="38" acc="0" crt="33" det="23" sks="0"/>
    </RightRing>
    <Food>
      <item name="Deviled Eggs" accModifier="1.02" maxAccBonus="10" crtModifier="1.05" maxCrtBonus="24" detModifier="1.00" maxDetBonus="0" sksModifier="1.00" maxSksBonus="0"/>
      <item name="Black Truffle Risotto" accModifier="1.00" maxAccBonus="0" crtModifier="1.02" maxCrtBonus="11" detModifier="1.05" maxDetBonus="17" sksModifier="1.00" maxSksBonus="0"/>
      <item name="Grilled Sweetfish" accModifier="1.05" maxAccBonus="36" crtModifier="1.02" maxCrtBonus="14" detModifier="1.00" maxDetBonus="0" sksModifier="1.00" maxSksBonus="0"/>
      <item name="Baked Pipira Pira" accModifier="1.03" maxAccBonus="18" crtModifier="1.05" maxCrtBonus="37" detModifier="1.00" maxDetBonus="0" sksModifier="1.00" maxSksBonus="0"/>
      <item name="Cockatrice Meatballs" accModifier="1.00" maxAccBonus="0" crtModifier="1.02" maxCrtBonus="15" detModifier="1.00" maxDetBonus="0" sksModifier="1.05" maxSksBonus="35"/>
      <item name="Morel Salad" accModifier="1.00" maxAccBonus="0" crtModifier="1.00" maxCrtBonus="0" detModifier="1.05" maxDetBonus="30" sksModifier="1.02" maxSksBonus="15"/>
      <item name="Deep-Fried Okeanis" accModifier="1.00" maxAccBonus="0" crtModifier="1.00" maxCrtBonus="0" detModifier="1.02" maxDetBonus="12" sksModifier="1.05" maxSksBonus="38"/>
      <item name="Urchin Loaf" accModifier="1.06" maxAccBonus="40" crtModifier="1.00" maxCrtBonus="0" detModifier="1.03" maxDetBonus="13" sksModifier="1.00" maxSksBonus="0"/>
      <item name="Steamed Staff" accModifier="1.00" maxAccBonus="0" crtModifier="1.06" maxCrtBonus="40" detModifier="1.00" maxDetBonus="0" sksModifier="1.03" maxSksBonus="16"/>
    </Food>
  </Inventory>
</configuration>
